@use "mixin";

/* Color */
$primary-color: #181818;
$secondary-color: #1f262d;

$font-color-primary: white;

/* Font */
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Playfair Display', serif;

body {
    font-family: $font-primary !important;

    a {
        text-decoration: none;
        color: $font-color-primary;
    }
}