/* Color */
$primary-color: #181818;
$secondary-color: #1f262d;

$font-color-primary: #eeeeee;
$font-grey: #abc;
$devider-color: #456;
$rating-color: #00E054;
$text-color: #99AABB;
/* Font */
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Playfair Display', serif;