/* Color */
$primary-color: #181818;
$secondary-color: #1f262d;
$tag-color: #283038;

$font-color-primary: #eeeeee;
$font-grey: #abc;
$devider-color: #456;
$rating-color: #00E054;
$text-color: #99AABB;
$hyper-link: #ddeeff;
/* Font */
// $font-primary: 'Montserrat', sans-serif;
$font-primary: GraphikWeb, -apple-system, BlinkMacSystemFont, Segoe UI, Hiragino Sans, Meiryo, sans-serif, ColorEmoji;
$font-secondary: 'Playfair Display', serif;
$font-paragraph: TiemposTextWeb,Georgia,serif,ColorEmoji;